.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  border: none;
  outline: none;
  background-color: #009879;
  color: #ffffff;
  padding: 12px 15px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
